<div class="panel panel-default">
    <div class="panel-body panel-info">
        <h2>Books Management</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a ui-sref=".newBook">Add book</a></li>
            <li role="presentation" ng-repeat="book in books"><a ui-sref=".viewBook({id:book.id})">{{ book.Title }}</a></li>
        </ul>
    </div>


    <div class="col-sm-8">
        <div ui-view="booksDetailView"></div>
    </div>


</div>